body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #454f59;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

a, a:visited {
  color: #454f59;
}

#main {
  margin: 0;
  padding: 10px;
  width: 75%;
  float: left;
  min-height: 700px;
}

#header {
  background-color: #454f59;
  background: -webkit-gradient(linear, left top, left bottom, from(#454f59), to(#000000));
  background: -moz-linear-gradient(top,  #454f59,  #000000);   
  color: #fff;
  margin: 0;
  padding: 5px 10px;
}

#header h1 {
  margin: 0;
}

#header ul {
  font-size: 110%;
  list-style: none;
  padding: 20px 20px 0px 20px;
  margin: 0;
}

#header ul li {
  display: inline;
}
 
#header ul li a, #header ul li a:visited {
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 5px;
  color: #000;
  background-color: #fff;
}
#header ul li a:hover {
  background-color: #000;
  color: #fff;
  padding: 4px 14px;  
  border-left: 1px dotted #fff;
  border-top: 1px dotted #fff;
  border-right: 1px dotted #fff;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #e9f2ff;
  font-size: 10px;
  padding: 10px 20px;
  text-align: center;
  margin-top: 0px;
  width: 20%;
  float: right;
}

#sidebar {
  width: 20%;
  float: right;
  height: 100%;
  padding: 20px;
}

.break {
  clear: both;
}

input {
  width: 500px;
}

textarea {
  width: 500px;
  height: 120px;
}

div.post {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9f2ff), to(#ffffff));
  background: -moz-linear-gradient(left top, left bottom, from(#e9f2ff), to(#ffffff));  
  background-color: #e9f2ff;
  margin: 10px;
  border: 1px solid #e9f2ff;
}

div.post h2 {
  margin: 0;
}

div#comments {
  margin: 10px;
}

div.comment {
  border-left: 10px solid #e5e5e5;
  margin: 10px;
  padding: 15px;
  width: 50%;
}

div.comment_headline {
  padding-bottom: 5px;
  border-bottom: 2px dotted #e5e5e5;
}

#administration {
  width: 20%;
  float: right;
  text-align: right;
  font-size: 0.8em;
}
#administration a {
  color: #fff;
}

input, textarea {
  width: 80%;
  padding: 3px;
  border: 1px solid #726c61;
  font-size: 1.1em;  
}
textarea:focus, input:focus {outline: 3px solid #3090f3;}

button {
  padding: 8px 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #9f9f9f;
  border-radius: 2px;
  -moz-border-radius: 2px;
  color: #444;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cdcdcd));
  background: -moz-linear-gradient(top,  #fefefe,  #cdcdcd);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
button:hover {
  cursor: pointer;
  border-color: #777;
}
button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button.disabled {
  background: #eee;
  color: #cecece;
  border-color: #cecece;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button.disabled:hover {
  cursor: default;
  border-color: #cecece;
}
